html, body
{
	height: 100%;
}

body
{
	margin: 0px;
	padding: 0px;
	background: #EBEBEB;
	font-family: sans-serif;
	font-size: 11pt;
	font-weight: bold;
	color: #41aaca;
}

h1, h2, h3
{
	margin: 0;
	padding: 0;
	font-weight: 600;
	color: #454445;
}

p
{
	line-height: 180%;
}

a
{
	color: #2C383B;
}

a:hover
{
	text-decoration: none;
}

.container
{
	margin: 0px auto;
	width: 1002px;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/
	
#header-wrapper
{
	background: #EBEBEB;
}

#header
{
	position: relative;
	height: 80px;
}

#topline
{
	background:#41aaca;
	height:6px;
}

#bline
{
	background:#1a3d51;
	height:8px;
}

#dline
{
	background:#1a3d51;
	height:1px;
}

.wide
{
	width: 1000px;
	text-align: center;
	margin: 0 auto;
}

#p_text
{
	top: 280px;
	position: relative;
	width: 425px;
	height: 120px;
	background-color: rgba(27,64,83,0.69);
	font-family: Arial;
	font-size: 28px;
	line-height: 30px;
	font-weight: normal;
	letter-spacing: 1px;
	text-align: left;
	padding: 20px 25px;
	color: #FFFFFF;
}

#bluesms
{
	color: #4fc1e9;
	font-weight: bold;
	letter-spacing: 0px;
}


/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo
{
	position: absolute;
	top:5px;
	left: 0;
	width: 100%;
}


#logo span
{
	position: absolute;
	top: 1.4em;
	display: inline-block;
	padding-left: 1.50em;
	letter-spacing: 0.10em;
	text-transform: uppercase;
	font-size: 0.90em;
}

#logo a
{
	text-decoration: none;
	color: #2C383B;
}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

#menu
{
	position: absolute;
	right: 0;
	top: 1em;
	height:10em;
}

#menu ul
{
	display: inline-block;
}

#menu li
{
	display: block;
	float: left;
	text-align: center;
	line-height: 51px;
}

#menu li a, #menu li span
{
	display: inline-block;
	margin-left: -23px;
	padding: 1em 1.5em;
	letter-spacing: 0.10em;
	text-decoration: none;
	font-size: 1.2em;
	outline: 0;
	color:#43a7cb;
}

#menu li:hover a, #menu li.active a, #menu li.active span
{
	color:#32637e;
}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

#featured-wrapper
{
	color: #32637e;
	background: #EBEBEB;
}

#featured
{
	overflow: hidden;
	min-height: 400px;
	padding-bottom: 40px;
}

.column1
{
	width: 190px;
	display: inline-block;
	float: left;
	margin-right: 13px;
}

.column1.no-margin
{
	margin: 0px;
}

.column1 .imgholder
{
	text-align: center;
}

.column1 .imgholder img
{
	min-height: 140px;
	max-height: 189px;
	max-width: 189px;
}

#header-featured
{
	height: 30em;
	background-image: url("../images/banner.jpg");
	background-position: center;
	background-size: cover;
}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

#footer-wrapper
{
	overflow: hidden;
	padding: 7em 0em;
	color: rgba(255,255,255,0.5);
}

.menu_btn
{
	float:right;
	top: 8px;
	position: relative;
	right:30px;
}

#menu_footer
{
	width: 1000px;
	margin: 0 auto;
	text-align: center;
}
#menu_footer li
{
	display: block;
	float: left;
	text-align: center;
	line-height: 40px;
	margin-right:5px;
}

#menu_footer ul li a
{
	color: #6694A4;
	text-decoration: none;
}

#footer
{
	bottom:0;
	width:100%;
	height:40px;
	background:#1a3d51;
}

.contentheader
{
	margin-top: 30px;
	text-align: left;
	font-size: 24px;
	margin-bottom: 10px;
}

.contentheader hr
{
	background-color: #4FC0E8;
	border: 0px;
	height: 2px;
	width: 1000px;
}

a.detailed_info
{
	text-decoration: none;
}

.itemcontent
{
	display: block;
}

.data
{
	width: 1000px;
	border:0px;
}

.white
{
	background:#FFFFFF;
}

td
{
	text-transform: uppercase;
	font-size: 15px;
	line-height: 135%;
}

.cstart
{
	padding: 8px;
	margin-bottom: 5px;
	color: white;
	background-color: #43A7C9;
	font-size: 17px;
}

.ccode
{
	padding: 16px;
	color: white;
	background-color: #33BAA9;
	font-size: 25px;
	margin-bottom: 5px;
}

.ccode span
{
	color: #205370;
	font-size: 17px;
}

.ctxt, .ctxts
{
	padding: 10px 0px;
	font-size: 17px;
	background-color: white;
	margin-bottom: 5px;
}

.ctxt span
{
	color: #42A6C6;
}

.cname
{
	margin-left: 10px;
	margin-bottom: 5px;
	text-align: left;
	font-size: 23px;
	color: #42A6C6;
	padding: 17px 20px 18px 20px;
	background-color: white;
	text-transform: none;
}

.ctext
{
	margin-left: 10px;
	text-align: left;
	font-size: 14px;
	color: #205370;
	padding: 15px 20px;
	background-color: white;
	text-transform: none;
}

.clink
{
	text-decoration: none;
	color: #43A7C9;
	font-size: 17px;
}

.cimage img, .firstcolumn
{
	max-width: 189px;
}

#statistics
{
	width: 1000px;
	height: 600px;
}

.menucontent
{
	margin: 35px 0px 45px 0px;
}

.menutext
{
	font-size: 24px;
	line-height: 30px;
	font-weight: normal;
}

.infoholder
{
	background-color: white;
	font-size: 17px;
	font-weight: normal;
}

.name
{
	padding: 10px 10px 0px 10px;
	line-height: normal;
}

.subname
{
	padding: 0px 10px 5px 10px;
	color: #4fc1e9;
	font-weight: bold;
	font-size: 19px;
}

.date_from
{
	font-size: 14px;
	padding: 0px 10px;
	background-color: #3f9fc2;
	color: white;
}

.spacer
{
	margin: 20px;
}
